@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

@layer components {
  nav {
    border-bottom: 4px solid #000c66;
    background: #f5f3f3;
    height: 4rem;
  }

  .nav-link {
    color: #000c66 !important;
    @apply mx-2;
  }

  .nav-right {
    @apply mx-4 rounded hover:bg-gray-50;
  }

  .nav-link-active {
    color: #0000ff !important;
  }

  .unsplash-blue {
    background-color: #7ec8e3;
  }

  .info-card {
    background-color: #f5f3f3;
    @apply rounded-lg shadow-lg
  }
}

section {
  margin: 20px auto;
}

form {
  width: 60%;
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;

}

form * {
  display: block;
  width: 100%;
  padding: 10px 0;
}

form input, form textarea {
  border: 1px solid rgb(161, 161, 161);
}

form input[type="submit"] {
  border: none;
}

.edit, .delete, .cancel {
  padding: 10px;
  background: #eee;
  border: none;

}

.delete {
  color: #00159C;
  margin-top: 500px;
}